[Unit]
Description=set nextion page at shutdown

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=/usr/bin/python3.5 /home/pi/LerAS/shutdown.py

[Install]
WantedBy=multi-user.target
